<%- include ../menu %>


<div class="ui text container segment">
	<div class="ui grid">

		<div class="one column row">
			<div class="left floated column">
				<h1 class="ui header"><%= __('Users') %> </h1>
			</div>
		</div>
		<div class="ui section divider"></div>

		<div class="one column row">
			<div id="user-content" class="column">

			</div>
		</div>

		<div id="pagination" class="two column row"></div>

	</div>
</div>
