<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    New post
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Short Text</label>
        <textarea rows="2"></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      No
    </div>
    <div class="ui positive right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
