<%- include ../menu %>

<% if ( __s ){ %>
	<input type="hidden" id="__i" name="__i" value="<%= session.profile.id %>">
<% }else{ %>
	<input type="hidden" id="__i" name="__i" value="<%= __i %>">
<% } %>

<input type="hidden" name="__s" value="<%= __s %>">

<div id="profileController" style="margin-top:20px;min-height:600px;" class="ui grid container">

		

</div>
