<%- include ../menu %>

<div style="margin-top:20px;min-height:600px;" class="ui grid container">

	<div class="three wide column">
		<%- include ../secondarymenu %>
	</div>

	<div class="thirteen wide column">
		<div class="ui segment">
			<h1><%= __('Dashboard') %> </h1>
		</div>
	</div>

</div>
