<h2 class="ui header">
  {{ user.name }}
  <div class="sub header">
    {{ info || 'Ninguna informacion' }}
  </div>
</h2>

<div class="ui divider"></div>
<div class="ui grid">
  <div class="column row">
    <div class="six wide column">
      <p>Pais</p>
    </div>
    <div class="six wide column">
      <p><i class="{{ setting.country.prefix }} flag"></i> {{ setting.country.name }}</p>
    </div>
  </div>
  <div class="column row">
    <div class="six wide column">
      <p>Aprendiendo</p>
    </div>
    <div class="six wide column">
      <p><i class="{{ setting.language.prefix }} flag"></i> {{ setting.language.name }}</p>
    </div>
  </div>
</div>
