<%- include ../menu %>

<div id="friendListController" style="margin-top:20px;min-height:600px;" class="ui grid container">

		<div class="three wide column">
			<%- include ../secondarymenu %>
		</div>

		<div class="nine wide column">
      <div style="min-height:550px;" class="ui segment">
        <h1 class="ui header"><%= __('Friends') %> </h1>
        <div class="ui divider"></div>

				<div id="friendList" class="">

				</div>
      </div>
    </div>

		<div class="four wide column">
      <div style="min-height:550px;" class="ui segment">

				<h3 class="ui header">Personas que quizas conozcas</h3>
				<div class="ui divider"></div>
				<div class="ui middle aligned divided list">
				  <div class="item">
				    <div class="right floated content">
				      <div class="ui basic tiny teal button">Add</div>
				    </div>
				    <img class="ui avatar image" src="/images/me.jpg">
				    <div class="content">
				      Lena
				    </div>
				  </div>
				  <div class="item">
				    <div class="right floated content">
				      <div class="ui basic tiny teal button">Add</div>
				    </div>
				    <img class="ui avatar image" src="/images/me.jpg">
				    <div class="content">
				      Molly
				    </div>
				  </div>
				</div>


      </div>
		</div>

</div>
