<%- include ../menu %>

<div id="friendListController" style="margin-top:20px;min-height:600px;" class="ui grid container">

		<div class="three wide column">
			<%- include ../secondarymenu %>
		</div>

		<div class="nine wide column">
      <div style="min-height:550px;" class="ui segment">
        <h1 class="ui header"><%= __('Friends') %> </h1>
				<!-- <a class="ui secondary basic link button" href="/requests">8 Solicitudes</a> -->
        <div class="ui divider"></div>

				<div id="friendList" class="">

				</div>
      </div>
    </div>

		<div class="four wide column">
      <div style="min-height:550px;" class="ui segment">

				<h4 class="ui header">Personas que estudian el mismo idioma</h4>
				<div class="ui divider"></div>
				<div id="maybeList" class="">

				</div>


      </div>
		</div>

</div>
