<%- include ../menu %>

<div id="friendListController" style="margin-top:20px;min-height:600px;" class="ui grid container">

		<div class="eleven wide column">
      <div style="min-height:600px;" class="ui segment">
        <h1 class="ui header"><%= __('Friends') %> </h1>
        <div class="ui divider"></div>

				<div id="friendList" class="">

				</div>
      </div>
    </div>
		<div class="five wide column">
      <div style="min-height:400px;" class="ui segment">

        <div class="ui small feed">
          <h4 class="ui header">Quizas conozcas</h4>
          <div class="ui divider"></div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Christian Rocha</a> signed up for the  site.
              </div>
            </div>
          </div>
        </div> <!-- /feed -->


      </div>
		</div>

</div>
