<div style="position: fixed; bottom:0; width:100%;" class="ui one column row">
	<div class="ui right floated horizontal list">
		<a class="disabled item" href="#">© Linguanski, Inc.</a>
		<a class="item" href="#">Terminos</a>
		<a class="item" href="#">Privacidad</a>
	</div>
	<div class="ui horizontal list">
		<a class="item" href="#">Acerca de</a>
		<a class="item" href="#">Desarrolladores</a>
	</div>
</div>
