<div class="ui secondary vertical menu">
  <a class="<% if(menu === 'dashboard'){ %>active <% } %>item" href="/dashboard">
    <i class="dashboard icon"></i> Dashboard
  </a>
  <a class="<% if(menu === 'feed'){ %>active <% } %>item" href="/feed">
    <i class="feed icon"></i> Feed
  </a>
  <a class="<% if(menu === 'profile'){ %>active <% } %>item" href="/profile/<%= req.session.profile.id %>">
    <i class="user icon"></i> Profile
  </a>
  <a class="<% if(menu === 'friends'){ %>active <% } %>item" href="/friends">
    <i class="users icon"></i>
    <%= __('Friends') %>
  </a>
  <a class="<% if(menu === 'phrases'){ %>active <% } %>item" href="/phrases">
    <i class="write icon"></i>
    <%= __('Phrases') %>
  </a>
  <a class="<% if(menu === 'practica'){ %>active <% } %>item" href="/practice">
    <i class="ellipsis horizontal icon"></i>
    <%= __('Practica') %>
  </a>
  <a class="item">
    <i class="star icon"></i>
    Scores
  </a>
  <a class="item">
    <i class="bookmark icon"></i>
    Bookmark
  </a>
</div>
