<%- include ../menu %>

<%- include ../modals/phrase_modal_form %>

<div class="ui container">

	<div class="ui grid">
		<div class="two column row">
			<div class="left floated column">
				<h1><%= __('Phrases') %> </h1>
			</div>
			<div class="floated right aligned column">
				<button id="add-phrase" class="ui blue button">
					<i class="add icon"></i>
					<%= __('Add Phrase') %>
				</button>
			</div>
		</div>

		<div class="row">
			<div class="sixteen column">
				<div id="content" class="ui segment">
	
				</div>
			</div>
		</div>

	</div>


</div>