  <div class="right floated content">
    <a href="/profile?id={{ id }}" class="ui basic blue small button">
      <i class="user icon"></i>
      Profile</a>

    {% if(user.activated){ %}
    <div class="ui basic red small button deactivate">
      <i class="minus circle icon"></i>
      Deactivate</div>
    {% }else{ %}
    <div class="ui basic teal small button activate">
      <i class="check circle icon"></i>
      Activate</div>
    {% } %}
  </div>

  <img class="ui avatar image" src="{{ user.photo }}">

  <div class="content">
    <div class="header">{{ user.name }}</div>
    {{ user.role }}
  </div>
