<!-- <div class="item"> -->
  <div class="ui tiny bordered image">
    <img src="{{ photo }}">
  </div>
  <div class="content">
    <a class="header">{{ name }</a>
    <div class="meta">
      <span class="cinema">{{ info }}</span>
    </div>
    <div class="description">
      <p></p>
    </div>
    <div class="extra">
      <div class="ui right floated teal basic tiny button">
        Add Friend
        <i class="right chevron icon"></i>
      </div>
      <!-- <div class="ui label">IMAX</div> -->
      <div class="ui label"><i class="globe icon"></i> PREMIUM</div>
    </div>
  </div>
<!-- </div> -->
