<!-- <div class="item"> -->
  <a href="/profile?id={{ id }}" class="ui tiny bordered image">
    <img src="{{ user.photo }}">
  </a>
  <div class="content">
    <a href="/profile?id={{ id }}" class="header">
      {{ user.name }}

        {% if(user.suscription == 'premium'){ %}
          <div class="ui mini teal label">
           PREMIUM
          </div>
        {% } %}
        <!-- {% if(_.includes(['superadmin', 'admin'], user.role)){ %}
          <div class="ui mini teal right corner label">
           <i class="star icon"></i>
          </div>
        {% } %} -->
    </a>
    <div class="meta">
      <span class="cinema">{{ info }}</span>
    </div>
    <div class="description">
      <p></p>
    </div>
    <div class="extra">
      <div class="ui right floated teal basic tiny button">
        <i class="add user icon"></i> Add Friend
      </div>
        <i class="{{ setting.country.prefix }} flag"></i>
        {{ setting.country.name }}
    </div>
  </div>
<!-- </div> -->
