<!-- <div class="item"> -->
  <a href="/profile?id={{ id }}" class="ui tiny bordered image">
    <img src="{{ user.photo }}">
  </a>
  <div class="content">
    <a href="/profile?id={{ id }}" class="header">{{ user.name }}</a>
    <div class="meta">
      <span class="cinema">{{ info }}</span>
    </div>
    <div class="description">
      <p></p>
    </div>
    <div class="extra">
      <div class="ui right floated teal basic tiny button">
        Add Friend
        <i class="right chevron icon"></i>
      </div>
      <!-- <div class="ui label">IMAX</div> -->
      <div class="ui label"><i class="globe icon"></i> {{ user.role }}</div>
    </div>
  </div>
<!-- </div> -->
