/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

body{
	background-color: #f1f2f4;
}

.first-margin-segment {
	margin-top:20px !important;
	min-height:600px;
}

.segment400{
	min-height:400px;
}
.ui.attached.menu{
	border: none;
}

.ui.menu .item{
	padding: 0.528571em 1.14285714em;
}

.ui.vertical.menu .item > i.icon{
	float: left;
	margin: 0em 1em 0em 0.5em;
}

.ui.tabular.menu {
	background-color: #ffffff;
	border-bottom: 1px solid #D4D4D5;
}

.ui.basic.teal.button,
.ui.teal.basic.button,
.ui[class*="right floated"].buttons,
.ui[class*="right floated"].basic.button, .ui[class*="right floated"].basic.teal.button, .ui[class*="right floated"].basic.teal.tiny.button{
    color: #001C20 !important;
    box-shadow: 0px 0px 0px 1px #001C20 inset !important;
    border-color: #001C20 !important;
}

.ui.labeled.flag.buttons .button, .ui.labeled.flag.button {
    position: relative;
    padding-left: 4.07142857em !important;
    padding-right: 1.5em !important;
}

.ui.labeled.icon.buttons > .button > .flag, .ui.labeled.icon.button > .flag {
    top: 0em;
    left: 0em;
}

.ui.labeled.icon.buttons > .button > .flag, .ui.labeled.icon.button > .flag {
    position: absolute;
    height: 100%;
    line-height: 1;
    border-radius: 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    text-align: center;
    margin: 0em;
    width: 20px;
		padding: 2px;
    background-color: transparent;
    color: '';
    box-shadow: -1px 0px 0px 0px transparent inset;
}

.ui.icon.buttons .button > .flag, .ui.icon.button > .flag {
    opacity: 0.9;
    margin: 0em !important;
    vertical-align: top;
}

.ui.labeled.icon.buttons > .button > .flag:before, .ui.labeled.icon.button > .flag:before, .ui.labeled.icon.buttons > .button > .flag:after, .ui.labeled.icon.button > .flag:after {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ui.event.segment {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 15px 10px;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.feed > .event.segment:first-child, .ui.feed > .event.segment:last-child {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ui.stacked.event.segment:before, .ui.stacked.event.segment:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0%;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 6px;
    visibility: visible;
}

.ui.comments .reply.form textarea {
    height: 5em;
}

.ui.reply.form textarea, .ui.post.form textarea{
	resize: none;
}

.ui.feed > .event > .label img{
	border-radius: 4px;
}
