<%- include ../menu %>

<%- include ../modals/form_modal %>

<div class="ui container">

	<div class="ui grid">
		<div class="two column row">
			<div class="left floated column">
				<h1><%= __('Traductions') %> </h1>
			</div>
			<div class="right floated right aligned column">
				<button id="add-traduction" class="ui blue button">
					<i class="add icon"></i>
					<%= __('Add Traduction') %>
				</button>
			</div>
		</div>

		<div class="row">
			<div id="content-traductions" class="sixteen column">

			</div>
		</div>

	</div>


</div>