  {% if(phrase_native){ %}
  <div class="column">
    <i class="{{ phrase_native_flag_prefix }} flag"></i>
    <div data-lang="{{ phrase_native_flag_prefix }}" class="ui fluid basic button phrase_native">
      {{ phrase_native }}
    </div>
  </div>
  {% } %}
  {% if(phrase_language){ %}
  <div class="column">
    <i class="{{ phrase_language_flag_prefix }} flag"></i>
    <div data-lang="{{ phrase_language_flag_prefix }}" class="ui fluid basic button phrase_language">
      {{ phrase_language }}
    </div>
  </div>
  {% } %}
