
  <a href="/profile/{{ id }}" class="ui tiny bordered image">
    <img src="{{ image.photo80x80 }}">
  </a>
  <div style="position:relative;" class="middle aligned content">
    <a href="/profile/{{ id }}" class="header">
      {{ user.name }}
    </a>
    {% if(user.verified){ %}
      <i style="position:absolute;top:-5px;" class="asterisk small icon blue"></i>
    {% } %}

    <div class="description">
      <p>{{ info }}</p>
    </div>
    <div class="extra">
        {% if( status == 'pending' ){ %}
            <div class="ui right floated basic red tiny button cancel-btn">
              <i class="remove user icon"></i> Cancel
            </div>
            <div class="ui right floated basic teal tiny button confirm-btn">
              <i class="add user icon"></i> Confirm
            </div>
        {% }else if(status == 'friend'){ %}
          <p class="right floated"><i class="ok icon"></i> You are friend</p>
        {% }else if(status == 'canceled'){ %}
          <p class="right floated"><i class="ok icon"></i> You cancel</p>
        {% }else if(status == 'friend'){ %}
          <p class="right floated"><i class="ok icon"></i> Unknown action</p>
        {% } %}

        <div class="ui label">
          <i class="{{ setting.country.flag }} flag"></i>
          {{ setting.country.name }}
        </div>
    </div>
  </div>
