
  <a href="/profile/{{ id }}" class="ui tiny bordered image">
    <img src="{{ image.photo80x80 }}">
  </a>
  <div style="position:relative;" class="middle aligned content">
    <a href="/profile/{{ id }}" class="header">
      {{ name }}
    </a>
    {% if(verified){ %}
      <i style="position:absolute;top:-5px;" class="asterisk small icon blue"></i>
    {% } %}
    <div class="description">
      <p>{{ info }}</p>
    </div>
    <div class="extra">
        {% if( status == 'pending' ){ %}
            <div class="ui right floated basic red tiny button friend-btn">
                <i class="remove user icon"></i> Cancel
            </div>
        {% }else{ %}
          <div class="ui right floated basic teal tiny button friend-btn">
            <i class="add user icon"></i> Add friend
          </div>
        {% } %}

        <div class="ui label">
          <i class="{{ country.flag }} flag"></i>
          {{ country.name }}
        </div>
    </div>
  </div>
