<!-- <div class="ui event segment"> -->
  <div class="label">
    <img src="{{ user.image.secure_url }}">
  </div>
  <div class="content">

    <div style="float: right;" class="right floated content">
      <a class="ui basic label">{{ _.upperCase(native.prefix) }}</a> <i class="caret right icon"></i> <a class="ui basic label">{{ _.upperCase(learning.prefix) }}</a>
      <div class="ui right floated dropdown">
        <i class="ellipsis horizontal icon"></i>
        <div class="menu">
          <div class="item">Report</div>
          <div class="item">Delete</div>
        </div>
      </div>

    </div>

    <div class="summary">
      <a href="/profile/{{ profile.id }}" class="user">
        {{ user.name }}
      </a> creó un post.
      <div class="date">
        {{ createdAt }}
      </div>
    </div>

      <div class="middle aligned content">
        <div class="extra text">
          {{ post_text }}
        </div>
      </div>

    <div class="meta">
      <a class="like">
        <i class="like icon"></i> Like
      </a>
      <a class="save">
        <i class="write icon"></i> Practise
      </a>
    </div>

    <div style="display:none;" class="ui divider"></div>
  <div class="ui collapsed comments">
    <!-- <h3 class="ui dividing header">Comments</h3> -->
    <div class="comment">
      <a class="avatar">
        <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
      </a>
      <div class="content">
        <a class="author">Matt</a>
        <div class="metadata">
          <span class="date">hoy a las 5:42PM</span>
        </div>
        <div class="text">
          Excelente frase para practicar!
        </div>
        <div class="actions">
          <a class="like">
            <i class="like icon"></i> 1 Like
          </a>
          <a class="reply">Responder</a>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      </a>
      <div class="content">
        <a class="author">Elliot Fu</a>
        <div class="metadata">
          <span class="date">Yesterday at 12:30AM</span>
        </div>
        <div class="text">
          <p>Esta frase me ha sido util. Gracias!</p>
        </div>
        <div class="actions">
          <a class="like">
            <i class="like icon"></i> 1 Like
          </a>
          <a class="reply">Responder</a>
        </div>
      </div>
      <div class="comments">
        <div class="comment">
          <a class="avatar">
            <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
          </a>
          <div class="content">
            <a class="author">Jenny Hess</a>
            <div class="metadata">
              <span class="date">Just now</span>
            </div>
            <div class="text">
              Gracias por compartir :)
            </div>
            <div class="actions">
              <a class="like">
                <i class="like icon"></i> 1 Like
              </a>
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
      </a>
      <div class="content">
        <a class="author">Joe Henderson</a>
        <div class="metadata">
          <span class="date">hace 5 dias</span>
        </div>
        <div class="text">
          Tienes alguna otra que sea como esta misma frase?
        </div>
        <div class="actions">
          <a class="like">
            <i class="like icon"></i> 1 Like
          </a>
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    <form class="ui reply form">
      <div class="field">
        <textarea rows="1"></textarea>
      </div>
      <div class="ui teal labeled submit icon button">
        <i class="icon edit"></i> Responder
      </div>
    </form>
  </div>
  </div>
<!-- </div>  --> <!-- First event -->
