<%- include ../menu %>

<style media="screen">

.letter{
  padding: 0 !important;
}
.form-letter{
  width: 36px;
  height: 36px;
  margin: 0 !important;
  border: none;
  text-align: center !important;
  /*border-radius: 0.28571429rem;*/
  border-radius: 0;
  background-color: inherit;
  padding: 0 !important;
}

.ui.label.letter, .ui.label{
  background-color: inherit;
  margin: 0;
  border: none;
}

.ui.basic.label{
  background-color: none;
  margin: 0;
  border: none;
}

.ui.basic.label, ui.label{
	background-color: none;
  margin: 0;
  border: none;
}

.form-letter:focus, .form-letter:active{
  border: 1px solid #85B7D9;
}

</style>

<div class="ui container segment">

  <div class="ui grid">
    <div class="two column row">
			<div class="left floated column">
				<h1 class="ui header"><%= __('Practice') %> </h1>
			</div>
			<div class="floated right aligned column">
				<button id="add-phrase" class="ui blue basic button">
					<i class="repeat icon"></i>
					<%= __('Get phrase') %>
				</button>
			</div>
		</div>
		<div class="ui section divider"></div>

    <div class="one center aligned column row">
      <div class="column">
        <h2 class="ui center aligned header"></h2>
        <div class="ui divider"></div>
        <h3 class="ui center aligned header"></h3>
        <div class="ui divider"></div>
        <div id="typing" class="ui big labels">

        </div>

        <div class="ui divider"></div>
        <form id="form-typing" class="ui big form">

        </form>
      </div>
    </div>
  </div>

</div>
